@* @model CourseInfoListViewModel *@

@section topCSS
{
    <link rel="stylesheet" href="~/css/course_list.css" />
    <link rel="stylesheet" href="~/css/tutor_intro_medias_slider.css">
    <link rel="stylesheet" href="~/css/booking_table_modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
}

<partial name="_BannerPartial"  />
<section class="tutors mb-3" id="course-cards-app">
    <div class="lh-tutors-filter d-flex flex-wrap flex-md-nowrap" v-cloak>
        <div class="btn-group mx-1 ms-sm-4 me-sm-2 mt-4 mb-1 mb-md-3">
            <button :class="['btn dropdown-toggle px-1 px-sm-3 py-2', {'dropdown-selected': selectedSubject}]" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                {{ selectedSubject ? selectedSubject : '學習需求' }} <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown" v-for="courseCategory in courseCategories" :key="courseCategory.categoryName">
                    <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" type="button">
                        {{ courseCategory.categoryName }}
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="subject in courseCategory.subjects" :key="subject.subjectName">
                            <button class="dropdown-item" type="button" v-on:click="filterBySubject(subject.subjectName)">{{ subject.subjectName }}</button>
                        </li>
                    </ul>
                </li>
                <li v-if="selectedSubject">
                    <button class="dropdown-item" type="button" v-on:click="clearSubjectFilter"><strong>所有類別</strong></button>
                </li>
            </ul> 
        </div>
        <div class="btn-group me-1 mx-sm-2 mt-4 mb-0 mb-1 mb-md-3">
            <button :class="['btn dropdown-toggle px-1 px-sm-3 py-2', {'dropdown-selected': selectedNation}]" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                {{ selectedNation ? selectedNation : '教師國籍' }} <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li v-for="nation in nations" :key="nation">
                    <button class="dropdown-item" type="button" v-on:click="filterByNation(nation)">
                        {{ nation }}
                    </button>
                </li>
                <li v-if="selectedNation">
                    <button class="dropdown-item" type="button" v-on:click="clearNationFilter"><strong>所有國籍</strong></button>
                </li>
            </ul>
        </div>
        <div class="btn-group course-time-filter me-1 mx-sm-2 mt-4 mb-1 mb-md-3">
            <button :class="['btn dropdown-toggle px-1 px-sm-3 py-2', {'dropdown-selected': selectedWeekdays.length > 0 || selectedTimeslots.length > 0}]" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <template v-if="selectedWeekdays.length > 0">
                    {{ getWeekdayName(selectedWeekdays[0]) }} <span v-if="selectedWeekdays.length > 1 && selectedTimeslots.length === 0"> + 1</span>
                </template>
                <template v-if="selectedWeekdays.length > 0 && selectedTimeslots.length > 0">, </template>
                <template v-if="selectedTimeslots.length > 0">
                    {{ selectedTimeslots[0] }}點 <span v-if="selectedTimeslots.length > 1 || selectedWeekdays.length > 1">+ 1</span>
                </template>
                <template v-if="selectedWeekdays.length === 0 && selectedTimeslots.length === 0">
                    上課時間 <i class="bi bi-filter"></i>
                </template>              
            </button>
            <ul class="dropdown-menu px-3 py-2 px-md-4 py-md-3">
                <li class="col-12 d-flex justify-content-between">
                    <span><i class="bi bi-alarm me-2"></i>  選擇時間段 </span>
                    <span v-if="selectedWeekdays.length > 0 || selectedTimeslots.length > 0">
                        <button class="dropdown-item" type="button" v-on:click="clearWeekdayAndTimeslotFilter"><strong>所有時間段</strong> </button>
                    </span>
                </li>               
                <li class="checkbox-wrapper col-12 d-flex">                       
                    <div class="mt-2 col-6 weekday-checkbox">
                        <div class="fw-bolder col-12">星期</div>
                        <div class="col-12 weekday-checkbox-wrapper d-flex">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="monday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="monday">
                                        週一
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" id="tuesday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="tuesday">
                                        週二
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" id="wednesday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="wednesday">
                                        週三
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" id="thursday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="thursday">
                                        週四
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" id="friday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="friday">
                                        週五
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">                          
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" id="saturday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="saturday">
                                        週六
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="0" id="sunday"
                                           name="weekday" v-model="selectedWeekdays" v-on:change="filterByWeekdayAndTimeSlot">
                                    <label class="form-check-label" for="sunday">
                                        週日
                                    </label>
                                </div>
                            </div>
                        </div>             
                    </div>
                    <div class="mt-2 ps-4 col-6 timeslot-checkbox col-6">
                        <div class="fw-bolder col-6">時段</div>
                        <div class="d-flex flex-wrap data-flex">
                            <div class="mt-2 col-12 text">上午</div>
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" name="time" value="6-12" id="morning" v-model="selectedTimeslots" v-on:change="filterByWeekdayAndTimeSlot">
                                <label class="form-check-label" for="morning">
                                    06:00 - 12:00
                                </label>
                            </div>
                            <div class="mt-1 col-12 text">下午</div>
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" name="time" value="12-18" id="afternoon" v-model="selectedTimeslots" v-on:change="filterByWeekdayAndTimeSlot">
                                <label class="form-check-label" for="afternoon">
                                    12:00 - 18:00
                                </label>
                            </div>        
                            <div class="mt-1 col-12 text">傍晚</div>
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" name="time" value="18-24" id="night" v-model="selectedTimeslots" v-on:change="filterByWeekdayAndTimeSlot">
                                <label class="form-check-label" for="night">
                                    18:00 - 24:00
                                </label>
                            </div>
                            <div class="mt-1 col-12 text">深夜</div>
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" name="time" value="0-6" id="midnight" v-model="selectedTimeslots" v-on:change="filterByWeekdayAndTimeSlot">
                                <label class="form-check-label" for="midnight">
                                    00:00 - 06:00
                                </label>
                            </div>                           
                        </div>
                    </div>
                </li>
            </ul>


        </div>
        <div class="btn-group me-1 mx-sm-2 mt-4 mb-1 mb-md-3">
            <button :class="['btn dropdown-toggle px-1 px-sm-3 py-2', {'dropdown-selected': selectedBudget }]" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                {{ selectedBudget ? 'NT$ ' + selectedBudget : '預算區間' }} <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" v-on:click="filterByBudget('349以下')">NT$349以下</button></li>
                <li><button class="dropdown-item" type="button" v-on:click="filterByBudget('350-499')">NT$350 - NT$499</button></li>
                <li><button class="dropdown-item" type="button" v-on:click="filterByBudget('500-799')">NT$500 - NT$799</button></li>
                <li><button class="dropdown-item" type="button" v-on:click="filterByBudget('800-999')">NT$800 - NT$999</button></li>
                <li><button class="dropdown-item" type="button" v-on:click="filterByBudget('1000以上')">NT$1000以上</button></li>
                <li v-if="selectedBudget">
                    <button class="dropdown-item" type="button" v-on:click="clearBudgetFilter"><strong>所有預算區間</strong></button>
                </li>
            </ul>
        </div>
        <div class="btn-group me-1 mx-sm-2 mt-1 mt-md-4 mb-1 mb-md-3" v-if="selectedSubject || selectedNation || selectedWeekdays.length > 0 || selectedTimeslots.length > 0 || selectedBudget">
            <button class="dropdown-item cancel-filter-btn ms-md-2" type="button" v-on:click="clearAllFilter"><i class="bi bi-x-circle-fill"></i>  <strong>清除篩選</strong></button>
        </div>
    </div>
    <div class="lh-tutors-order">
        <span class="fw-bold ms-2 ms-md-4">目前排序</span>
        <a href="" :class="{'sort-option-selected': selectedSortOption == 'default' }" v-on:click="sortByDefault">即時推薦</a>
        <a href="" :class="{'sort-option-selected': selectedSortOption == 'verifiedTutor' }" v-on:click="sortByVerifiedTutor">優質教師優先</a>
        <a href="" :class="{'sort-option-selected': selectedSortOption == 'priceAscend' }" v-on:click="sortByPriceAscend">低價優先</a>
        <a href="" :class="{'sort-option-selected': selectedSortOption == 'reviewsCount' }" v-on:click="sortByReviewsCount">多評價數優先</a>
        <a href="" :class="{'sort-option-selected': selectedSortOption == 'rating' }" v-on:click="sortByRating">評分高優先</a>
    </div>
    <div v-if="loading" class="course-spinner ms-3 my-3">
        <img src="~/image/spinner_imgs/block_spinner-1.gif" />
        <span>加載課程資料中...</span>
    </div>
    
    <div v-else class="lh-tutor-cards" v-cloak>
        <div v-if="noCoursesFound" class="no-courses-found">
            <p class="ms-4 mt-5"><i class="fa-solid fa-book me-2"></i>沒有找到符合篩選條件的課程</p>
            <img class="ms-md-4" src="~/image/course_list_imgs/no-courses-found-4.webp" />
        </div>
        <div v-else v-for="(courseCard, index) in courses" :key="courseCard.courseId" class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="lazyload tutor-headshot rounded-circle"
                             :data-src="courseCard.tutorHeadShotImage"
                             data-expand="300" />
                        <img class="lazyload tutor-nation-icon rounded-circle border border-white position-absolute"
                             :data-src="courseCard.tutorFlagImage.replace('~', '')"
                             data-expand="300" />
                    </div>
                    <div :class="['lh-tutor-follow mt-2', {'following': courseCard.followingStatus}]"
                         v-on:click="toggleFollow(courseCard)">
                        <span v-if="courseCard.followingStatus">關注中</span>
                        <span v-else>+關注</span>
                    </div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex justify-content-between">
                        <a class="tutor-description-title" v-on:click="goToCourseMainPage(courseCard.courseId)" style="cursor: pointer">
                            {{ courseCard.courseTitle }}
                        </a>

                        <span v-if="courseCard.isVerifiedTutor" class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip">
                            <img src="~/image/tutor_badge_imgs/tutor_badge.webp">
                        </span>
                    </div>
                    <div class="tutor-subtitle my-1">{{ courseCard.courseSubTitle }}</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT${{ formatPrice(courseCard.fiftyMinUnitPrice) }} <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT${{ formatPrice(courseCard.twentyFiveMinUnitPrice) }} <span class="text">/ 25分鐘</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>{{ courseCard.courseRatings }}</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">{{ courseCard.courseReviews }}</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        {{ courseCard.tutorIntro }}
                    </p>
                    <a class="tutor-viewmore d-none d-md-inline" v-on:click="goToCourseMainPage(courseCard.courseId)" style="cursor: pointer">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT${{ formatPrice(courseCard.twentyFiveMinUnitPrice) }} <div class="text">25分鐘</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT${{ formatPrice(courseCard.fiftyMinUnitPrice) }} <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" v-on:click="openBookingTable(courseCard.courseId)">
                        預約課程
                    </button>
                    @* <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button> *@
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11" v-on:click="goToCourseMainPage(courseCard.courseId)">
                        查看教師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    {{ courseCard.tutorIntro }}
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal"
                        v-on:click="openBookingTable(courseCard.courseId)">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <a v-if="courseCard.courseVideo" href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
                       :data-bs-video="courseCard.courseVideo">
                        <img class="lazyload" :data-src="courseCard.courseVideoThumbnail" data-expand="300" alt="">
                    </a>
                    <img v-if="courseCard.courseImages.length > 0" v-for="(image, index) in courseCard.courseImages" :key="index" :src="image.imageUrl" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div v-for="weekday in 7" :key="weekday" :class="['col p-0', addBookingStatusClass(6, 12, weekday - 1, index)]"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div v-for="weekday in 7" :key="weekday" :class="['col p-0', addBookingStatusClass(12, 18, weekday - 1, index)]"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div v-for="weekday in 7" :key="weekday" :class="['col p-0', addBookingStatusClass(18, 24, weekday - 1, index)]"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div v-for="weekday in 7" :key="weekday" :class="['col p-0', addBookingStatusClass(0, 6, weekday - 1, index)]"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段內已有預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100" v-on:click="goToCourseMainPage(courseCard.courseId)">
                    瀏覽更多
                </button>
            </div>

        </div>
    </div>
    
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <div>
                        <iframe class="lazyload" width="100%" height="350" :data-src="" data-expand="300"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contactTutorModal" tabindex="-1" aria-labelledby="contactTutorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-flex gap-4">
                        <img class="tutor-headshot" src=""
                             alt="">
                        <div class="d-flex flex-column">
                            <h4 class="tutor-description-title">
                            </h4>
                            <p>傳送訊息給tutorxxx@talkingtopia.com</p>
                            <p class="d-block text-dark">教師將會在有空的時間回覆您訊息</p>
                        </div>
                    </div>

                </div>
                <div class="modal-body px-md-4 pb-0">
                    <form>
                        <input class="form-control" type="text" value="tutorxxx@talkingtopia.com"
                               aria-label="Disabled input example" disabled readonly>
                        <div class="input-group my-3">
                            <select class="form-select" id="messageTypeSelect">
                                <option selected>問題類型...</option>
                                <option value="1">課程諮詢</option>
                                <option value="2">特殊時段預約</option>
                                <option value="3">費用疑問</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Enter your message here"
                                      id="floatingTextarea2" style="height: 250px"></textarea>
                            <label for="floatingTextarea2">請輸入訊息內容...</label>
                        </div>
                        <div class="input-group file-upload my-3">
                            <input type="file" class="form-control" id="inputGroupFile02" multiple
                                   data-show-upload="true" data-show-caption="true">
                            <label class="input-group-text" for="inputGroupFile02">上傳</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn send-btn">傳送訊息</button>
                </div>
            </div>
        </div>
    </div>

    <div class="lh-tutors-switch-page-btns d-flex justify-content-center align-items-center" v-cloak>
        <button v-on:click="goToPage(page - 1)" type="button" class="prev-page"><i class="fa-solid fa-angle-left"></i></button>
        <div class="page-text mx-3 mx-md-4"> {{ page }} </div>
        <button v-on:click="goToPage(page + 1)" type="button" class="next-page"><i class="fa-solid fa-angle-right"></i></button>
    </div>

    @* <div class="lh-tutors-switch-page-btns d-flex justify-content-center align-items-center" total-pages="@ViewData["TotalPages"]">
        <button type="button" class="prev-page"><i class="fa-solid fa-angle-left"></i></button>
        <div class="page-text mx-3 mx-md-4"></div>
        <button type="button" class="next-page"><i class="fa-solid fa-angle-right"></i></button>
    </div> *@
</section>
<div class="modal fade" id="bookingTableModal" tabindex="-1" aria-labelledby="bookingTableModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <partial name="~/Views/Course/_BookingTablePartial.cshtml" />
        </div>
    </div>
</div>

@section endJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/course_list/course_list_nested_dropdown.js"></script>
    <script src="~/lib/myvue/vue.global.prod.js" asp-append-version="true"></script>
    <script src="~/lib/lodash.js/lodash.min.js"></script>
    <script src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script type="module" src="~/js/course_list/course_list_app.js"></script>
}
