:root {
    --theme-color: #02cab9;
    --theme-color-light: #b3efea;
    --theme-color-hover: #02ebd6;
    --highlight-color: #ff5f5f;
    --button-hover-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.resume_headimg_fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.textbtncolorgreen {
    color: #02cab9
}
.filename {
    letter-spacing: 1.5px
}
.resume_border {
    border-top: 2px solid rgb(2, 202, 185);
    border-bottom: 2px solid rgb(2, 202, 185);
    border-left: 1px solid rgb(2, 202, 185);
    border-right: 1px solid rgb(2, 202, 185);
}

.apply_head {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 8px;
}
.AI_Image_Item {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.AI_Image_Item:hover {
     cursor: pointer;
     border: 1px solid #ff5f5f;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     opacity: 0.7; 
}
.apply_head:hover {
    cursor: pointer;
    border: 1px solid #ff5f5f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume_head_border {
    border: 1px solid #ff5f5f;
    border-radius: 8px;
}

.apply-expend:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bgc {
    color: var(--theme-color);
}

.textbtncolor {
    color: white
}

.textdangercolor {
    color: var(--highlight-color);
}
.btnbg {
    background-color: var(--theme-color);
}
.btndangerbg {
    background-color: var(--highlight-color);
}
.btnbghover:hover {
    color: black;
}
.resume_btn {
    box-shadow: var(--button-hover-shadow);
}

.resume_btn:hover {
    box-shadow: var(--button-hover-shadow);
    border: 1px solid #ff5f5f;
}

.icon_Headimg_hover {
    transition: color 0.3s ease, transform 0.3s ease;
}
.icon_Headimg_hover:hover {
   transform: scale(1.1); /* 懸停時放大效果 */
}

.icon_plus {
    max-width: 80px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon_plus:hover {
    transform: translateY(-3px);
}

.resume_banner {
    background-image: url("../image/apply_teacher/pexels-fauxels-3184419.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px; 
    height: 200px;
    color: white;
}
.resume_banner p:nth-of-type(1){
    font-size: 1.5rem;
}
.resume_banner p:nth-of-type(2){
    font-size: 1rem;
    
}
@media screen and (min-width:768px) {
    .resume_banner {
        background-image: url('../image/apply_teacher/pexels-fauxels-3184419.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 500px;
        padding-top: 50px;
        padding-left: 100px;
    }
    .resume_banner p:nth-of-type(1) {
        font-size: 3em; 
    }
    .resume_banner p:nth-of-type(2) {
        font-size: 2rem; 
    }
    .apply_head {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
    }
    .AI_Image_Item {
        width: 150px;
        height: 150px;
        border-radius: 8px;
    }
}